<!--<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">-->
@*<div class="d-flex align-items-center justify-content-between small">
        <div class="text-muted">Design by Sin Moste</div>
        <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
        </div>
    </div>*@
<!--</div>
</footer>-->
<!-- ======= Footer ======= -->
@*<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>

<style>

    #myBtn {
        display: none;
        position: fixed;
        bottom: 10px;
        right: 43px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: blue;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }

        #myBtn:hover {
            background-color: #555;
        }
</style>
*@

@*<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>*@