<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
</head>
<body>
    <img src="http://www.conectvn.com/wp-content/uploads/2018/01/logo.png" width="100" alt="Company Logo" />
    <br />
    <div style="color: black; margin-top: 10px; font-size: 14px;">
        <div>{{HELLO}}, <b style="color: #0987e2 ">{{USERNAME}}</b>.</div>
        <div>{{SECURITY_ACCOUNT}} <span>{{GMAIL}}</span>.</div>
    </div>
    <div style="font-size: 14px;">
        <div style="margin:5px 0;"> {{SECURITY_CODE}}: <span style="color: #f89321;font-size:24px;font-weight:bold; ">{{OTP}}</span> </div>

        <span style="font-style:italic;color:black;">
            {{ABSOLUTELY_OTP}}.
        </span>
        <div>{{THANKS}},</div>
        <div>{{ACCOUNT_TEAM}}</div>
    </div>
</body>
</html>